@model AAAAA_FUNCIONA_MDS.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger text-center">Deletar</h1>

<h3 class="text-white mb-5 text-center">Você tem certeza que quer deletar?</h3>
<div class="text-white">
    <h4 class="text-center">Produto:</h4>
    <hr />
    <dl class="row container">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Foto)" class="img-fluid img-thumbnail" style="max-width: 290px;">
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @if(Model.EmEstoque)
            {
                <p class="text-success">Em estoque!</p>
            }else
            {
                <p class="text-danger">Fora de estoque!</p>
            }
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.NomeCategoria)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="ProdutoId" />
        <input type="submit" value="Delete" class="btn btn-dark ButtonEntrar " /> 
        <a asp-action="Index"class="btn bg-black text-white ButtonEntrar m-2">Voltar para a lista</a>
        
    </form>
</div>
