@model AAAAA_FUNCIONA_MDS.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white">Detalhes</h1>

<div>
    <h4 class="text-white">Produto</h4>
    <hr />
    <dl class="row text-white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Foto)" class="img-fluid img-thumbnail" style="max-width: 200px;">
            
        </dd>
        <dt class = "col-sm-2">
            <p>Em estoque</p>
        </dt>
        <dd class = "col-sm-10">
            @if(Model.EmEstoque == true)
            {
                <p class="text-success">Produto em estoque</p>
            } else
            {
                <p class="text-danger">Produto fora de estoque</p>
            }
            
        </dd>
        <dt class = "col-sm-2">
            <p>Preço</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.NomeCategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdutoId" class="btn btn-dark ButtonEntrar ">Editar</a> 
    <a asp-action="Index" class="btn btn-dark ButtonEntrar " >Voltar para a lista</a>
</div>
