@model IEnumerable<AAAAA_FUNCIONA_MDS.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-dark m-2 ButtonEntrar m-4">Criar novo</a>
</p>
<main class="">
    <table class="table text-white shadow-lg text-center d-flex justify-content-center flex-column ">
        <thead>
            <tr class="container d-flex">
                <th class="d-lg-block text-light col-md-2 col-4">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>

                <th class="d-lg-block d-none text-light col-md-2">
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th class="d-lg-block d-none text-light col-md-2">
                    @Html.DisplayNameFor(model => model.EmEstoque)
                </th>
                <th class="d-lg-block text-light col-md-2 col-4">
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th class="d-lg-block d-none text-light col-md-2">
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th class="w-100">Opções</th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="container d-flex ">
                    <td class="d-lg-block text-light col-md-2 col-4 ">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>

                    <td class="d-lg-block d-none text-light col-md-2">
                        <img src="@Html.DisplayFor(modelItem => item.Foto)" class="img-fluid img-thumbnail rounded-0"
                            style="max-width: 100px;">

                    </td>
                    <td class="d-lg-block d-none text-light col-md-2">
                        @Html.DisplayFor(modelItem => item.EmEstoque)
                    </td>
                    <td class="d-lg-block text-light col-md-2 col-4">
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td class="d-lg-block d-none text-light col-md-2">
                        @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
                    </td>
                    <td class="d-flex">
                        <a asp-action="Edit" asp-route-id="@item.ProdutoId" class="btn btn-dark m-3 ButtonEntrar d-flex align-items-center">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.ProdutoId"
                            class="btn btn-dark m-3 ButtonEntrar d-flex align-items-center">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    
    </table>
</main>
