@model IEnumerable<AAAAA_FUNCIONA_MDS.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Usuários</h1>

<p>
    <a asp-action="Create" class="btn btn-dark m-3 ButtonEntrar d-flex align-items-center col-md-1 col-4 justify-content-center ">Criar novo</a>
</p>
<table class="table text-white shadow-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoPFP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.FotoPFP)" class="img-fluid img-thumbnail" style="max-width: 100px;">
                </td>
                <td class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.Nome" class="btn btn-dark m-3 ButtonEntrar d-flex align-items-center">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Nome" class="btn btn-dark m-3 ButtonEntrar d-flex align-items-center">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Nome" class="btn btn-dark m-3 ButtonEntrar d-flex align-items-center">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
